table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f2f2f2;
    overflow-x: auto;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    font-size: 12px;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
    cursor: pointer; 
  }
  

  tr:hover {
    background-color: #e0e0e0;
  }
  
  @media screen and (max-width: 600px) {
    th, td {
      padding: 8px;
    }
  }
  
  th.desc::after {
    content: ' ↓';
  }
  
  th.asc::after {
    content: ' ↑';
  }